## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [2]:
# Criando uma lista (estrutura de listas utiliza [])
lista_1 = ["arroz, frango, tomate, leite"]

In [3]:
type(lista_1)

list

In [4]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [5]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [6]:
type(lista_2)

list

In [7]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [8]:
# Criando lista (Este tipo de lista é heterogenea)
lista_3 = [23, 100, "Cientista de Dados"]

In [9]:
type(lista_3)

list

In [10]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [11]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [12]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [13]:
#Exemplo

alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [26]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos} teve {notas}! ")

O(a) estudante ['ana', 'pedro', 'maria'] teve [9, 3.5, 6]!
O(a) estudante ['ana', 'pedro', 'maria'] teve [9, 3.5, 6]!
O(a) estudante ['ana', 'pedro', 'maria'] teve [9, 3.5, 6]!

#### Atualizando Um Item da Lista

In [15]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [16]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [17]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [18]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [19]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [20]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [21]:
# Deletando um item específico da lista
del lista_2[3]

In [22]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [23]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [27]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [28]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [30]:
listas[0][1] #primeiro a linha depois a coluna [linha][coluna]

2

In [29]:
a

[1, 2, 3]

In [31]:
b = a[0]

In [32]:
b

1

In [33]:
list1 = listas[1]

In [34]:
list1

[10, 15, 14]

In [35]:
valor_1_0 = list1[0]

In [36]:
valor_1_0

10

In [37]:
valor_1_2 = list1[2]

In [38]:
valor_1_2

14

In [39]:
list2 = listas[2]

In [40]:
list2

[10.1, 8.7, 2.3]

In [41]:
valor_2_0 = list2[0]

In [42]:
valor_2_0

10.1

#### Operações com Listas

In [43]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [44]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [45]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [46]:
a

1

In [47]:
b = listas[1][2]

In [48]:
b

14

In [49]:
c = listas[0][2] + 10

In [50]:
c

13

In [51]:
d = 10

In [52]:
d

10

In [53]:
e = d * listas[2][0]

In [54]:
e

101.0

#### Concatenando Listas

In [55]:
lista_s1 = [34, 32, 56]

In [56]:
lista_s1

[34, 32, 56]

In [57]:
lista_s2 = [21, 90, 51]

In [58]:
lista_s2

[21, 90, 51]

In [59]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [60]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [61]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [62]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [63]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [64]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [65]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [66]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [67]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [68]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [69]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [70]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [71]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [72]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [73]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [74]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [75]:
# Criando uma lista vazia
a = []

In [76]:
print(a)

[]

In [77]:
type(a)

list

In [78]:
a.append(10)

In [79]:
a

[10]

In [80]:
a.append(50)

In [81]:
a

[10, 50]

In [82]:
old_list = [1,2,5,10]

In [83]:
new_list = []

In [84]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [85]:
new_list

[1, 2, 5, 10]

In [86]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1: 
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  5
Digite um valor (-1 para sair):  6
Digite um valor (-1 para sair):  87
Digite um valor (-1 para sair):  1998
Digite um valor (-1 para sair):  2
Digite um valor (-1 para sair):  -1

[5, 6, 87, 1998, 2]

In [87]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [88]:
cidades.index('Salvador') #indice de posição

2

Lembre-se: em Python o índice começa por 0!

In [89]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [90]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [91]:
cidades.insert(2, 110) #inseri na posição 2 o numero 110

In [92]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [93]:
# Remove um item da lista
cidades.remove(110)

In [94]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [95]:
# Reverte a lista
cidades.reverse()

In [96]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [97]:
x = [3, 4, 2, 1]

In [108]:
x

[4, 3, 2, 1]

In [104]:
# Ordena a lista
x.sort()

In [105]:
x

[1, 2, 3, 4]

In [109]:
x.sort(reverse = True)

In [110]:
x

[4, 3, 2, 1]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [ ]:
# Imprimindo a tupla #Colchetes cria listar e parentenses cria tuplas
tupla1

In [1]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [2]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [4]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [5]:
tupla1

'Chocolate'

In [6]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [7]:
tupla1[0]

'Geografia'

In [8]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [9]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [10]:
tupla1.index('Elefantes')

2

In [11]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [12]:
# Deletando a tupla
del tupla1

In [13]:
tupla1

NameError: name 'tupla1' is not defined

In [14]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [15]:
t2

('A', 'B', 'C')

In [16]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [17]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [18]:
type(t2)

tuple

In [19]:
type(lista_t2)

list

In [20]:
lista_t2

['A', 'B', 'C']

In [21]:
lista_t2.append('D')

In [22]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [23]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [24]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [25]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [26]:
type(estudantes_lst)

list

In [27]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [28]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [29]:
type(estudantes_dict)

dict

In [30]:
estudantes_dict["Pedro"]

24

In [31]:
estudantes_dict["Marcelo"] = 23

In [32]:
estudantes_dict["Marcelo"]

23

In [33]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [34]:
estudantes_dict.clear()

In [35]:
estudantes_dict

{}

In [36]:
del estudantes_dict

In [37]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [38]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [39]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [40]:
len(estudantes)

4

In [41]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [42]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [43]:
#retornam listas de tuplas de chave e valor 
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [44]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [45]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [46]:
#.update concatena as listas
estudantes.update(estudantes2)

In [47]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [48]:
dic1 = {}

In [49]:
dic1

{}

In [50]:
dic1["chave_um"] = 2

In [51]:
print(dic1)

{'chave_um': 2}

In [52]:
dic1[10] = 5

In [53]:
dic1

{'chave_um': 2, 10: 5}

In [54]:
dic1[9.13] = "Python"

In [55]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [56]:
dic1["teste"] = 5

In [57]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [58]:
dict1 = {}

In [59]:
dict1

{}

In [60]:
dict1["teste"] = 10

In [61]:
dict1["key"] = "teste"

In [62]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes. #ex. chave: valor
dict1

{'teste': 10, 'key': 'teste'}

In [63]:
dict2 = {}

In [64]:
dict2["key1"] = "Data Science"

In [65]:
dict2["key2"] = 10

In [66]:
dict2["key3"] = 100

In [67]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [68]:
a = dict2["key1"]

In [69]:
b = dict2["key2"]

In [70]:
c = dict2["key3"]

In [71]:
a, b, c

('Data Science', 10, 100)

In [72]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [73]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [74]:
dict3['chave2']

[22, 453, 73.4]

In [75]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [76]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [77]:
var1

20

In [78]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [79]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [80]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [81]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [82]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [84]:
lista = []
for i in range (5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

print(f"Lista inversa: {lista[::-1]}")

Digite o valor 1:  2
Digite o valor 2:  4
Digite o valor 3:  6
Digite o valor 4:  8
Digite o valor 5:  9

Lista inversa: [9, 8, 6, 4, 2]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [85]:
lista = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

maior_valor = max(lista)
posicao = lista.index(maior_valor)

print(f"O maior valor é {maior_valor} e sua posição é {posicao}")

Digite o valor 1:  12
Digite o valor 2:  34
Digite o valor 3:  56
Digite o valor 4:  78
Digite o valor 5:  90

O maior valor é 90 e sua posição é 4

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [86]:
lista1 = []
lista2 = []
lista_intercalada = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1} do primeiro vetor: "))
  lista1.append(n)
for i in range(5):
  n = int(input(f"Digite o valor {i+1} do segundo vetor: "))
  lista2.append(n)
for i in range(5):
  lista_intercalada.append(lista1[i])
  lista_intercalada.append(lista2[i])

print(f"Lista1: {lista1}")
print(f"Lista2: {lista2}")
print(f"Lista intercalada: {lista_intercalada}")

Digite o valor 1 do primeiro vetor:  1
Digite o valor 2 do primeiro vetor:  2
Digite o valor 3 do primeiro vetor:  3
Digite o valor 4 do primeiro vetor:  4
Digite o valor 5 do primeiro vetor:  5
Digite o valor 1 do segundo vetor:  11
Digite o valor 2 do segundo vetor:  22
Digite o valor 3 do segundo vetor:  33
Digite o valor 4 do segundo vetor:  44
Digite o valor 5 do segundo vetor:  55

Lista1: [1, 2, 3, 4, 5]
Lista2: [11, 22, 33, 44, 55]
Lista intercalada: [1, 11, 2, 22, 3, 33, 4, 44, 5, 55]

In [87]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

47

In [88]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4 3 4 6 3 1 1 5 2 6

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [89]:
jogadas = [0,0,0,0,0,0,0]
percentual = [0,0,0,0,0,0,0]
for i in range(6000):
  lado = randint(1, 6)
  jogadas[lado] += 1

for i in range(1,7):
  percentual[i] = (jogadas[i]/6000)*100

for i in range(1,7):
  print(f"Face {i}: {jogadas[i]} jogadas ({percentual[i]:.2f}%)")

Face 1: 1003 jogadas (16.72%)
Face 2: 998 jogadas (16.63%)
Face 3: 1022 jogadas (17.03%)
Face 4: 987 jogadas (16.45%)
Face 5: 1023 jogadas (17.05%)
Face 6: 967 jogadas (16.12%)

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [90]:
jogadas = [0,0,0,0,0,0,0,0,0,0,0,0,0]
percentual = [0,0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(30000):
  dado1 = randint(1, 6)
  dado2 = randint(1, 6)
  soma = dado1 + dado2
  lado = soma - 1
  jogadas[lado] += 1

for i in range(2,13):
  percentual[i] = (jogadas[i]/30000)*100

for i in range(2,13):
  print(f"Face {i}: {jogadas[i]} jogadas ({percentual[i]:.2f}%)")

Face 2: 1626 jogadas (5.42%)
Face 3: 2585 jogadas (8.62%)
Face 4: 3345 jogadas (11.15%)
Face 5: 4239 jogadas (14.13%)
Face 6: 4957 jogadas (16.52%)
Face 7: 4143 jogadas (13.81%)
Face 8: 3314 jogadas (11.05%)
Face 9: 2506 jogadas (8.35%)
Face 10: 1630 jogadas (5.43%)
Face 11: 839 jogadas (2.80%)
Face 12: 0 jogadas (0.00%)

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [91]:
#As linhas internas representam as linhas e as externas as colunas. Ex.: [2,5] linhas e [3,4] colunas
linha = []
matriz = []
for i in range(2):
  for j in range(2):
    n = int(input(f"Digite o valor de ({i+1},{j+1}): "))
    linha.append(n)
  matriz.append(linha)
  linha = []

print(f"Matriz: {matriz}")

Digite o valor de (1,1):  2
Digite o valor de (1,2):  5
Digite o valor de (2,1):  3
Digite o valor de (2,2):  4

Matriz: [[2, 5], [3, 4]]

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [92]:
d = {}
for i in range(5):
  nome = input(f"Digite o nome {i+1}: ")
  idade = int(input(f"Digite a idade {i+1}: "))
  d[nome] = idade
maior = 0
nome_maior = ""
for k,v in d.items():
  if v > maior:
    maior = v
    nome_maior = k
  
print(f"A pessoa mais velha é {nome_maior} com {maior} anos!")

Digite o nome 1:  Kathie
Digite a idade 1:  26
Digite o nome 2:  Augusto
Digite a idade 2:  27
Digite o nome 3:  Kim
Digite a idade 3:  29
Digite o nome 4:  Ale
Digite a idade 4:  49
Digite o nome 5:  Lyon
Digite a idade 5:  6

A pessoa mais velha é Ale com 49 anos!

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## FIM